[project]
name = "graph-enron-project"
version = "0.1.0"
description = "Implementação do Trabalho de grafos em cima do dataset de emails da Enron."
readme = "README.md"
requires-python = ">=3.10"
dependencies = []

[dependency-groups]
dev = [
    "ipykernel>=6.29.5",
]
